.carousel-image {
    height: 400px;
    width: 500px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    
  }
  
  .carousel-component-container {
    margin: 0;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
  }
  
  .carousel-container {
    overflow: hidden;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .inner-container {
  white-space: nowrap;
  transition: transform 0.3s;
  }
  
  .carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: #ffffff79;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }
  
  .carousel-item-text {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #000000
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffffb0;
  }

  /* max-width: 200px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffffb0;
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; */
  
  .arrow-buttons {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .indicator-buttons {
    border: none;
    cursor: pointer;
  }
  
  .indicators > button {
    margin: 5px;
    background: none;
  }
  
  .indicator-symbol {
    color: #26343f;
  }
  
  .indicator-symbol-active {
    color: blue;
  }