.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background-color: #ffffff65; 
    color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
  }
  
  .nav-links-container {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ffffff3b;
    color: #080808;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 18px;
  }
  
  .nav-links:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
  }
  
  .nav-bar-title {
    font-size: 1.5rem;
    margin-left: 20px;
  }
  
  .auth-links-container {
    display: flex;
    align-items: center;
  }
  
  .auth-link {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent;
    color: #070000;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .auth-link:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
  }
  

  