table {
    border-collapse: collapse;
    margin: auto;
}

.column-header, .table-cell {
    padding: 10px 20px;
    text-align: center;
    background-color: #f2f2f2;
}

.table-cell {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.table-row:hover .table-cell {
    background-color: #f7f7f7;
}

.container-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;  
}

.opps-tables {
    margin-top: -750px;
}